/.opam/
/_build/
/target/
/var/
/.cache/
/.lia.cache
/benchmarks/core/.generated/
/benchmarks/core/wetune/schemas/core/*.schema.report.json
/benchmarks/core/wetune/schemas/core/manifest.json
frontend/calcite-wrapper/target/
__pycache__/
*.pyc
*.aux
*.glob
*.vo
*.vos
*.vok
*.vio
*.cmxs
*.native
